<!-- <%- include("partials/header"); -%>


    <h1><%=name%></h1>
    <p><%=text%></p>
    <div class="like-outer">
        <div id="like-counter" class="like-area">
         <ul>
          <li>
           <a>
            <i class='fas fa-arrow-alt-circle-up' style='font-size:36px'></i>
            <span class="like-no">25</span>
           </a>
          </li>
          <li>
           <a>
            <i class='fas fa-arrow-alt-circle-down' style='font-size:36px'></i>
            <i class="fas fa-thumbs-down"></i>
            <span class="like-no">20</span>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <button class="btn btn-primary" type="submit" name="button">Endorse</button>


   <br>

<%- include("partials/footer"); -%> -->
