<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <body>
        <div class="container">
            <br>
            <h1 class="text-center">Scan Me!</h1>
            <hr>
            <div class="row mb-3">
    
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=<%=src%> alt="QR Code Image">
                <div class="card-body">
                <p class="card-text">Scan the QR Code to access data!</p>
                </div>
                </div>
            </div>  
    </body>
</body>
</html>