

h1{
    text-align: center;
}

body{

    background: linear-gradient(to right,#136a8a,#267871);
   
}

h1{
    margin-bottom: 0;
}
.posts{
    text-align: center;
    width: 30%;
    margin: auto;
    
}
#like-counter ul li{
    display:inline;
    margin: 1em;
   
    
}
ul{
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
}

p{
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
}
button{
    height:60px;
    width:200px;
    border-radius: 30px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 8px;
	font-weight: bold;
	padding: auto;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 10%;
	margin-right:40%;
	margin-left: 40%;
	
}
.container{
	
    background-color: white;
    padding: 30px;
    margin-top: 7%;
	margin-right:20%;
	margin-left: 20%;
    border-radius: 25px;
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    
}
