/* *{
  margin: 0;
  padding: 0;
} */
body{
   background-size: cover;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    height: 97vh;
    
}
.bg-image{
  width: 100%;
  height: 80%;

}
.w3-bar .w3-button{
    font-size: x-large;
}

.footer{
    position: fixed;
    bottom: 0;
   color: black;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
h4{
  color: black;
}

.header{
    width: 70%;
    text-align: left;
}

.header h1{
  color: #04AA6D;
  text-align: left;
}


.registerBtn{
   margin-top: 1.5em;
    border-radius: 30px;
    color: whitesmoke;
    background-color: rgba(0, 128, 128, 0.925);
    padding: 27px;
    border-style: none;
}

.header .registerBtn{
  margin-left: 20%;
}

a{
  text-decoration: none;
  color: black;
}

.registerBtn:hover{
    border-radius: 30px;
    padding: 27px;
    transform: translateY(-1px);
    box-shadow: black 5px 5px 5px;
    
}


  /*ADD MEDIA QUERIES BELOW THIS */
@media screen and (min-width: 750px) {
    .footer{
        color: whitesmoke;
        text-align:center;
        padding-left: 15px;
        padding-right: 15px;
        
    }
    .header{
        margin-top: 10%;
        padding-left: 50px;
        
    }
}

@media screen and (max-width: 750px) {
  .container{
    height: 100vh;
  }
    .header{
      padding-top: 15%;
      margin-left: 5%;
      margin-right: 5%;
       text-align: center;
        
    }
    
}
/* When the screen is less than 00 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
    .right-nav a:not(.right-nav) {display: none;}
    .right-nav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 750px) {
    .right-nav.responsive {position: relative;}
    .right-nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .right-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }