<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel= "stylesheet" href= "styles/register.css">
</head>
<body>
 <div class="container">
     <h1>Register as </h1>
     <form action="/registerE" method="get">
    <button type="submit">Endorser</button>
    </form>
    <form action="/registerU" method="get">
      <button type="submit">Agent </button>
      </form>
 </div>
</body>
</html>
